.container2 {
    display: flex;
    background-color: #b30ea5;
    margin-top: 5.33vh;
    margin-left: 13.33vw;
    border-top-left-radius: 5.33vw;
    border-bottom-left-radius: 5.33vw;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: right;
}

.container2:hover {
    transform: scaleX(1.05);
    background-color: #4a90e2;
}

.title {
    margin-top: 2.67vh;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    padding: 3.33vh 2.67vw;
    flex: 0 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding-right: 13.33vw;
}

.text2 {
    margin-top: 3.67vh;
    margin-left: 6.67vw;
    font-size: 1.50vw;
    font-weight: 700;
    line-height: 1.7;
    color: black;
}
